
#**Day 1 Coding**

In [1]:
print("This is my First day of Coding ")

This is my First day of Coding

#**LOOPS**

In [4]:
#Top 10 natural number ko ube

for i in range(1,11):
  print(i*i*i)

1
8
27
64
125
216
343
512
729
1000

#**Functions In Python**

In [20]:
#Declaring function to calculate square of a number
def calculate_square(length):
  return length*length

#Calling a function to print square of first square
print("The area of first square is :",calculate_square(6))
print("The area of second square is :",calculate_square(16))

The area of first square is : 36
The area of second square is : 256

#*List in Python**

In [24]:
#List
fruits=["apples","banana","mango","orange","watermelon"]
print(fruits)

#Accessing elements from the list
# print(fruits[0]) #first index
# print(fruits[-1])
# print(fruits[4])
# print(fruits[2])

#Adding and removing elements from the list
# fruits.append("orange")
# print(fruits)

fruits.remove("mango")
print(fruits)

['apples', 'banana', 'mango', 'orange', 'watermelon']
['apples', 'banana', 'orange', 'watermelon']

# **Sets and Tuples(Home-Research)**

#**Dictionary in python**

In [29]:
student={
    "name":"ramu",
    "class":7,
    "gender":"Male",

    }
#Accesing values from keys in a dictionary

print(student["name"])
print(student["class"])

#Updating vlaues of a particular key in a dictionary

student["gender"]= "female"
print (student)

#Adding a new key value pair in existing dictionary

student["roll_no"]=10
print (student)

#Deleting a key value pair from a existing dictionary

del student["class"]
print(student)

ramu
7
{'name': 'ramu', 'class': 7, 'gender': 'female'}
{'name': 'ramu', 'class': 7, 'gender': 'female', 'roll_no': 10}
{'name': 'ramu', 'gender': 'female', 'roll_no': 10}